<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sidegigapps.chorematic">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.ChoreListActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".activities.ChoreDetailActivity"
            android:label="@string/title_chore_detail"
            android:parentActivityName=".activities.ChoreListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.sidegigapps.chorematic.activities.ChoreListActivity" />
        </activity>
        <activity
            android:name=".activities.SignInActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.ChooserActivity"
            android:label="@string/title_activity_chooser"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.EmailPasswordActivity"
            android:label="@string/title_activity_email_password"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activities.BaseActivity" />
        <activity android:name=".activities.GoogleSignInActivity" />
        <activity
            android:name=".activities.SetupActivity"
            android:label="@string/title_activity_setup"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <provider
            android:name=".database.ChoreProvider"
            android:authorities="com.sidegigapps.chorematic.database.ChoreProvider"
            android:label="ChoreProvider"
            android:readPermission="true"
            android:writePermission="true" />

        <activity
            android:name=".activities.MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
    </application>

</manifest>